Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-diagnostic-warning,
  -bugprone-implicit-widening-of-multiplication-result,
  -readability-magic-numbers,
  -readability-container-data-pointer,
  -modernize-use-trailing-return-type,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -modernize-avoid-c-arrays,
  -readability-container-size-empty,
  -readability-function-cognitive-complexity,
  -misc-const-correctness,
  -readability-qualified-auto,
  -bugprone-string-literal-with-embedded-nul,
  -cert-err33-c,
WarningsAsErrors: '*'
